@font-face {
  font-family: "Junegull";
  src: url(./assets/junegull.ttf);
}
@font-face {
  font-family: "Playwrite";
  src: url(./assets/PlaywriteHR-VariableFont_wght.ttf);
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
