.ball {
    margin-top: 1rem;
    background-color: rgb(53, 60, 87);
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 
        3px 3px 60px rgb(33, 16, 69) inset;
        // -1em 0 0.4em rgb(39, 3, 33);
    display: flex;
    justify-content: center;
    align-items: center;
}